*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin-block: 2rem;
    margin-inline: 5rem; 
    background-color: #e7f1ed;
}

/* utility classes */
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
/* Header */
header{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    justify-content: center;
}
.logo img{
    width: 35%;
}

/* navbar */
.nav-bar{
    margin-block: 30px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 22px;
    gap: 30px;
    justify-content: center;
}
.nav-bar a{
    color: white;
}
.nav-bar a:hover{
    color:bisque;
    transition: 0.25s ease-out;
}

/* main */

/* offer section */

.offer{
    height: 30vh;
    color: white;
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(LittleLemon/food.jpg) no-repeat center center/cover;
}

.offer-heading{
    padding-block: 20px;
    padding-inline:20px ;
}
.offer > p{
    font-size: 18px;
    text-align: left;
    padding-block: 10px;
    padding-left: 20px;
    padding-right: 30%;
}

/* container */

.container{
    margin-block: 40px;
    justify-content: space-between;
}
.box{
    background-color: bisque;
    height: 68vh;
    width: 30%;
    padding-block: 30px;
    padding-inline: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 30px;
}
.button{
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    background-color: #e7f1ed;
    color: black;
}
.box a:hover{
    background-color: rgb(7, 125, 7);
    transition: 0.25s ease-out;
}

/* footer */
.footer-container{
    justify-content: space-between;
}
.footer-logo img{
    width: 5%;
}
.copyright{
    width: 55vw;
    border-top: 2px solid black;
    text-align: right;
}
